<h1 class="text-center">Rent Car</h1>

<div class="row">
	<fieldset class="small-6 columns">
		<h2>User Information</h2>
		<div>
		  <strong>User Picture:</strong></br>
		  
		</div>
		<p><strong>Full Name:</strong>  </p>
		<p><strong>Identification:</strong>  </p>
		<p><strong>Address:</strong>  </p>
		<p><strong>Phone:</strong>  </p>
		<p><strong>Cellphone:</strong>  </p>
		<p><strong>Born date:</strong> </p>
	</fieldset>

	<fieldset class="small-5 columns">
		<h2>Car Information</h2>
		<div>
		  <strong>Car Picture:</strong></br>
		</div>
		<p><strong>Plate:</strong>  </p>
		<p><strong>Mileage:</strong>  </p>
		<p><strong>Capacity:</strong>  </p>
		<p><strong>Brand:</strong>  </p>
		<p><strong>Year:</strong>  </p>
		<p><strong>Color:</strong>  </p>
		<p><strong>Motor:</strong>  </p>
		<p><strong>Description:</strong>  </p>
		<p><strong>Gasoline:</strong>  </p>
		<p><strong>Transmision:</strong>  </p>
		<p><strong>Trunk:</strong>  </p>
		<p><strong>Doors:</strong>  </p>
	</fieldset>
</div>